.scoreboard.js-scoreboardView
    ul.playerList
        li.playerList-item.js-scoreboardView-playerOne
            .js-scoreboardView-playerOne-score {{Score}}
            div Player One
            .playerList-item-playerColor_playerOne

        li.playerList-item.js-scoreboardView-playerTwo
            .playerList-item-playerColor_playerTwo
            div Player Two
            .js-scoreboardView-playerTwo-score {{Score}}
