extends layout

block content

    .wrapper
        svg(class='stage js-stage',viewbox='0 0 800 800')
        ul.actionBar.js-actionBar
            li
                button.actionBar-btn.js-actionBar-restart Restart
            li
                button.actionBar-btn.js-actionBar-quit Quit
