.stage {
    display: block;
    max-height: 500px;
    max-width: 500px;
    margin: 20px auto;
}

.stage-cell {
    fill: green;
    stroke: black;
    stroke-width: 2;
}

.stage-cell:hover {
    cursor: pointer;
    fill: lightslategrey;
    stroke-width: 2;
}

.stage-cell-availableMove {
    cursor: pointer;
    fill: rgba(255, 0, 255, 0.5);
    stroke: rgba(10, 10, 10, 0.2);
    stroke-width: 5px;
}
