.stage {
    border: 1px solid dodgerblue;
    display: block;
    max-height: 500px;
    max-width: 500px;
    margin: 20px auto;
}

.stage-cell {
    fill: green;
    stroke: black;
    stroke-width: 2;
}

.stage-cell:hover {
    cursor: pointer;
    fill: white;
    stroke-width: 2;
}
