.actionBar {
    background: #eeeeee;
    margin: 10px auto;
    max-width: 460px;
    padding: 20px;
    text-align: center;
}

.actionBar > * + * {
    margin-top: 10px;
}

.actionBar-btn {
    background-color: rgba(0, 0, 0, 0.85);
    border: 0;
    border-bottom: 3px solid;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    color: #ffffff;
    font-family: monospace;
    padding: 10px;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 300px;
}

.actionBar-btn:hover {
    border-bottom: 3px solid green;
    color: #000000;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1.0);
}

.actionBar-btn:active {
    border-bottom: 3px solid magenta;
    color: magenta;
    background-color: rgba(255, 255, 255, 0.01);
}
