.playerPiece {
    stroke: black;
    stroke-width: 2;
}

.playerPiece:hover {
    cursor: pointer;
}

.mix-playerPiece_playerOne {
    fill: white;
}

.mix-playerPiece_playerTwo {
    fill: black;
}
