table.table.js-lobbyView
    thead
        tr
            th.table-head Opponent
            th.table-head Join
    tbody
        tr.js-lobbyView-game
            td.js-lobbyViewItem-opponent tickle
            td.js-lobbyViewItem-join
                a.btn(href="/game?id=2") Join Game
