.scoreboard.js-scoreboardView
    ul.playerList
        li.playerList-item.js-scoreboardView-playerOne
            div.js-scoreboardView-playerOne-score {{Score}}
            div #{playerOne}
            div.playerList-item-playerColor_playerOne

        li.playerList-item.js-scoreboardView-playerTwo
            div.playerList-item-playerColor_playerTwo
            div Player Two
            div.js-scoreboardView-playerTwo-score {{Score}}
